.pocetna-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c1c8e4;
    height: 100vh;
    font-family: Arial, sans-serif;
    width: 100%;
    overflow: hidden;
  }
  
  .pocetna-heder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    width: 98%;
    margin: 20px 0;
    background-color: #8860D0; 
    padding: 30px;
    border-radius: 10px;
  }
  
  .user-container h1 {
    margin: 0;
    color: white;
  }
  
  button {
    background-color: white;
    color: #8a6fd3;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #c1c8e4;
  }
  
  .pocetna-sredina {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 98%;
    background-color: #c1c8e4;
    padding: 20px;
    border-radius: 10px;
    color: white;
  }
  
  .raspored {
    flex: 2;
    background-color: #8860D0;
    padding: 15px;
    border-radius: 10px;
    margin-right: 10px;
    display: inline-block; 
    max-height: fit-content; 
    width: 100%; 
}

  
  .desno {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .status-container {
    text-align: center;
  }
  
  .info-text {
    color: red;
    font-size: 18px;
    margin-top: 10px;
  }

  .ne-radi {
    color:black
  }

  .weather-container {
    margin-bottom: 1rem;
}

.chat-container {
    margin-top: 1rem; 
}
