.izostanak-container{
  display: flex;
  flex-direction: column;
  height: 80%;
}

.izostanci-naslov {
    height: 10vh;
}

.izostanci-lista {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.izostanci-podatci {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.izostanci-button-odaberi{
  height: 4vh !important;
  width: fit-content !important;
  padding: 1vh 2vw 1vh 2vw !important;
  background-color: #8860D0 !important;
  color: #ffffff !important;
  border-radius: 25px !important;
  border: none !important;
  font-size: 1rem !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

.izostanci-infoform {
    height: 90vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    align-items: center;
  }

  .izostanci-infoform input {
    width: 90%;
    height: 3rem;
    border-radius: 25px;
    border: none;
    background-color: #D9D9D9;
    padding: 0 1rem;
    font-size: 1rem;
  }
  
  .izostanci-infoform button {
    width: 50%;
    height: 3rem;
    background-color: #8860D0;
    color: #ffffff;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .izostanci-infoform select {
    width: 100%;
    height: 3rem;
    border-radius: 25px;
    border: none;
    background-color: #D9D9D9;
    padding: 0 1rem;
    font-size: 1rem;
  }
  
  .izostanci-infoform button:hover {
    background-color: #5e3fbf;
  } 

.izostanci-inputi {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    align-items: center;
}

.izostanci-li {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
    padding: 20px; 
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
    height: fit-content;
    gap: 1vh;
  }

  .izostanci-infoform select {
    width: 100%;
    height: 3rem;
    border-radius: 25px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 0 1rem;
    font-size: 1rem;
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .izostanci-infoform select:hover {
    background-color: #e6e6e6;
  }
  
  .izostanci-infoform select:focus {
    outline: none;
    border-color: #8860D0;
    box-shadow: 0px 0px 5px rgba(136, 96, 208, 0.5);
  }
  
  .izostanci-infoform select option {
    background: white;
    color: black;
    font-size: 1rem;
  }

  .izostanci-infoform select option:hover {
    background-color: #8860D0 !important;
    color: white !important;
  }

  ::-webkit-scrollbar{
    color: #8860D0 !important;
  }
