.porukica {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}    

.zasebna-obavijest {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
    margin-bottom: 20px;
    padding: 20px; 
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
    min-width: 60vh;
    height: fit-content;
    align-items: center;
    justify-content: center;
}
  
.naslov-zasebne-obavijesti {
    max-height: 8vh;
    min-height: 4vh;
    max-width: 55vh;
}
.tekst-zasebne-obavijesti {
    max-height: 20vh;
    min-height: 20vh;
    max-width: 55vh;
}

.podatci-zasebne-obavijesti {
    display: flex;
    align-items: end;
}