.form{
  display: flex;
  width: fit-content;
  height: 80%;
  justify-content: flex-start;
  gap: 2vh;
  overflow-y: scroll;
  margin-top: 10vh;
}

.upload-gumb-i-spiner{
  display: flex;
  flex-direction: row;
}

.upload-section {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  gap: 2vw;
  width: fit-content;
}

::-webkit-file-upload-button{
  padding: 8px 12px;
  background-color: #5e3fbf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-right: 0.5vw;
}

.upload-section input {
  display: flex;
  font-family: 'Inter', 'Roboto', sans-serif;
}

.upload-section button {
  padding: 8px 12px;
  background-color: #5e3fbf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-right: 1vw;
  max-height: fit-content;
}

.upload-section button:hover {
  background-color: #8860D0;
}

.odabir-razreda-container{
  display: flex;
  flex-direction: column;
  padding-top: 1vh;
}

.overSelect{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.5vh;
  border: 2px solid #5e3fbf;
  border-radius: 5px;
  color: #333;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 0.5vw;
}

.overSelect:hover{
  color: white;
  background-color: #5e3fbf;
}

.selectBox{
  margin-right: 1vw;
}

.selectBox select {
  width: 100%;
  padding: 0.3vw;
  font-size: 1.5vh;
  border: 2px solid #5e3fbf;
  border-radius: 5px;
  background-color: white;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selectBox select:hover {
  border-color: #8860D0;
}

#checkboxes {
  display: none;
  border: 2px solid #5e3fbf;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  max-height: 200px;
  z-index: 10;
  width: 50%;
  margin-right: 0.6vw;
}

#checkboxes label input{
  accent-color: #593f8a !important;
}

#checkboxes label {
  display: block;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}

#checkboxes label:hover {
  background-color: #8860D0 !important;
  color: white;
}

.multiselect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.files-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.files-list span{
  flex: 1;
  width: fit-content;
}

.files-list ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: fit-content;
}

.files-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
  gap: 5vw;
}

.span {
  flex-shrink: 0;
  width: 60%;
  text-overflow: ellipsis;
  text-align: left;
  gap: 0.5vh;
  padding-left: 1vh;
}

.btns {
  display: flex;
  width: 40%;
  gap: 0.7vw;
}

.download-btn {
  flex: 1;
  width: 50%;
  padding: 5px 10px;
  background-color: #5e3fbf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease;
}

.delete-btn {
  flex: 1;
  width: 50%;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease;
}

.download-btn:hover {
  background-color: #8860D0;
}

.delete-btn:hover {
  background-color: darkred;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border-left-color: #5e3fbf;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}