.zasebna-obavijest-container{
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.tekst-zasebne-obavijesti{
    overflow-wrap: break-word;
    word-wrap: break-word;
}
